#yourScore {
  text-align: center;
}

#opponentScore {
  text-align: center;
}

.main-section {
  display: flex;
}

.column {
  flex: 50%;
}

#yourChoice {
  justify-content: center;
  margin: 0 auto;
  width: 350px;
  height: 350px;
}

#opponentChoice {
  justify-content: center;
  margin: 0 auto;
  width: 350px;
  height: 350px;
}

#choices {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 50px;
  height: 150px;
}

#choices img {
  width: 150px;
  height: 150px;
}

/* Text alignment for body */
body {
  text-align: center;
}
#modalToggle {
  display: none;
}
/* Styling modal */
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.modal-dialog {
  display: inline-block;
  vertical-align: middle;
}
.modal .modal-content {
  padding: 20px 20px 20px 20px;
  -webkit-animation-name: modal-animation;
  -webkit-animation-duration: 0.5s;
  animation-name: modal-animation;
  animation-duration: 0.5s;
}
@-webkit-keyframes modal-animation {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}

@keyframes modal-animation {
  from {
    top: -100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
